h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}

.meme-generator {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  input {
    font-size: 1rem;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
  }
}

.meme-editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  button {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.meme-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
